<%= form_with url: login_path, method: :post, class: 'simple_form form-horizontal', id: "login-form", data: { turbo: "false" } do |f| %>
  <legend class="text-center mb-4"><%= t('.legend') %></legend>
  <div class="form-label-group">
    <%= f.label :email, t('email', scope: 'activemodel.attributes.user') %><br />
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-label-group">
    <%= f.label :password, t('password', scope: 'activemodel.attributes.user') %><br />
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="actions text-center">
    <%= f.submit t(".login"), class: 'btn btn-md btn-primary btn-max-width mt-4' %>
  </div>
<% end %>