= form_with url: login_path, method: :post, class: 'simple_form form-horizontal', id: "login-form" do |f|
  %legend.text-center.mb-4= t('.legend')
  .form-label-group
    = f.label :email, t('email', scope: 'activemodel.attributes.user')
    %br
    = f.text_field :email, class: 'form-control'
  .form-label-group
    = f.label :password, t('password', scope: 'activemodel.attributes.user')
    %br
    = f.password_field :password, class: 'form-control'
  .form-label-group
    = f.check_box :remember_me, class: 'form-control'
    = f.label :remember_me, t('remember_me', scope: 'activemodel.attributes.user')
  .actions.text-center
    = f.submit t(".login"), class: 'btn-sm btn-primary btn-max-width'
