.card
  .card-header= t('.task_data')
  .card-body
    .row
      .col-sm-7
        .row
          .col-sm-6= f.input :title, input_html: { autofocus: true, autocomplete: 'off' }
          .col-sm-6= f.input :due_time, input_html: { class: 'datepicker', data: { provide: 'datepicker' } }
        .row
          .col-sm-9
          .col-sm-3= f.input :highlited, as: :boolean
      .col-sm-5= f.input :note, as: :text

.row
  .col-sm-12.text-center
    = f.button :submit, t('views.shared.save'), class: 'btn-sm btn-info text-center'
    = link_to t('views.shared.cancel'), tasks_path, class: 'link'
