= simple_form_for @form, url: registrations_path, method: :post, scope: :user, class: 'simple_form form-horizontal', data: { turbo: "false" } do |f|
  %legend.text-center.mb-4= t('.legend')
  .form-label-group
    = f.label :email, t('email', scope: 'activemodel.attributes.user')
    %br
    = f.input :email, class: 'form-control', label: false

  .form-label-group
    = f.label :password, t('password', scope: 'activemodel.attributes.user')
    %br
    = f.input :password, class: 'form-control', label: false

  .form-label-group
    = f.label :password_confirmation, t('password_confirmation', scope: 'activemodel.attributes.user')
    %br
    = f.input :password_confirmation, class: 'form-control', label: false

  .actions.text-center
    = f.submit t(".register"), class: 'btn-sm btn-primary btn-max-width'
