<h2 class="text-center h3 mb-3 font-weight-normal"><%= t('.title') %></h2>
<%= render 'application/flash' %>

<%= render 'form' %>

<ul class="no-bullets text-center h4 mb-4 font-weight-normal">
  <li>
    <%= t('.login_to_your_account') %>
    <%= link_to t('.login'), login_path %>
  </li>
</ul>