%header
  %nav{ class: "navbar navbar-expand-lg navbar-dark bg-dark", }
    = link_to 'StartApp', root_path, class: 'navbar-brand'
    %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#mainMenu" }, aria: { controls: "mainMenu", expanded: "false", label: "Toggle navigation"  }}
      %span.navbar-toggler-icon

    #mainMenu.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to t('.asset'), '', class: "#{menu_active?('tasks')} nav-item nav-link"

        -#%li.nav-item.dropdown
          = link_to '', '', class: "#{menu_active?('tasks')} nav-item nav-link"
          %div.dropdown-menu
            = link_to '', '', class: "#{menu_active?('tasks')} nav-item nav-link"

      %ul.navbar-nav.navbar-right
        %li.nav-item.dropdown.show.drop-to-right
          = link_to user_avatar(current_user), '', class: 'nav-link pb-0', id: 'user-dropdown-menu-link', role: 'button', data: { toggle: "dropdown" }, aria: { haspopup: true, expanded: false }
          %div.dropdown-menu{ aria: { labelledby: 'user-dropdown-menu-link' }}
            = link_to t('.account.edit'), '', class: "#{menu_active?('account', action = 'edit')} dropdown-item"
        %li.nav-item
          = link_to logout_path, class: 'nav-link' do
            = bootstrap_icon 'door-open', width: 20, height: 20
